<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>

<body>




  <div class="container">

    <div class="title">Mi lista Favorita</div>

    <div class="card-deck " style="margin-top:50px">

      <mat-card class="example-card card" *ngFor="let item of peliculasFavoritas" data-aos="zoom-in">

        <img class="card-img-top " src="{{ item.urlImageContenido }}" alt="{{ item.titleContenido }}"
          [routerLink]="['/components/client',idParent,'view-movies', item.idContenido]" />
        <button class="btnFavoritoRemove" (click)="eliminar(item.idContenido)" mat-mini-fab color="warn"
          aria-label="Example icon button with a menu icon">
          <!--    <mat-icon></mat-icon> -->
          <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
        </button>
      </mat-card>

    </div>
  </div>
</body>

</html>