<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <main>
        <section class="portada">
            <article class="portada-info container">
                <span class="saludo">¡Bienvenidos a StreamGO !!</span>
                <h1>Todos los servicios de Streaming en tus manos</h1>
                <p>Descubre a
                    <b>StreamGO</b>
                    , la poderosa app que te permite tener
                    todas las plataformas de peliculas de calidad y variedad forma facil,
                    rapida y economica
                </p>
                <button mat-raised-button class="btnRegistrar"><span>Registrar</span></button>
            </article>
            <div class="portada-img">
                <div class="mascara">
                    <img src="../../../assets/images/imgPortada.jpg" alt="">
                    <span>ASASSS</span>
                </div>
            </div>
        </section>


    </main>

</body>

</html>