* {
    box-sizing: border-box;
}

.container {
    padding: 20px 40px;
}

.portada {
    /*  max-height: 80vh;  */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.portada-info {
    width: 55%;
}

.portada-info .saludo {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
}

.portada-info span {
    width: 60%;
}

.portada-info h1 {
    font-size: 40px;
    font-weight: bold;
}

.portada-info p {
    width: 60%;
    text-align: justify;
    margin-top: 20px;
}

.portada-img {
    width: 35%;
    height: 100%;
    overflow: hidden;
}

.portada-img .mascara {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50% 0 0 50%;
    overflow: hidden;
    margin-left: auto;
}

.portada-img .mascara img {
    height: 100%;
}
.portada-img .mascara span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3f51b579;
    z-index: 1;
    width: 100%;
    height: 100%;
}





/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
.btnRegistrar {
    position: relative;
    margin-top: 50px;
    background-color: whitesmoke;
    color: #3f51b5da;
    width: 200px;
    height: 45px;
    font-weight: bold;
    overflow: hidden;
}

.portada-img {
    width: 45%;
}

.btnRegistrar::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -200px;
    width: 100%;
    height: 45px;
    background-color: #3f51b5da;
    color: whitesmoke;
    transition: 0.3s all;
}

.btnRegistrar:hover::before {
    top: 0;
    left: 0;
}

.btnRegistrar:hover span {
    color: white;
    z-index: 2;
}

/*AAAAAAAAAAAAAAAAAAAAAAAAA */