<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <mat-toolbar color="primary" class="menu">

        <button color="primary" class="img-inicio"[routerLink]="['/cliente',id]">
            <i class="fa-solid fa-house"></i>
            <span>Mi perfil</span>
            
        </button>
        <button color="primary" class="img-user"[routerLink]="['/cliente',id,'list-movies']">
            <i class="fa-solid fa-user-tie"></i>
            <span>Peliculas</span>
            
        </button>

    </mat-toolbar>

    <div class="contenido">
        <!-- DENTRO DE ESTO APARECEN TODOS LOS COMPONENTES  -->
        <router-outlet></router-outlet>
        <div [hidden]="route.children.length!==0">
            <!-- SE ELIMINA TODO LO DE AQUI CUANDO VAMOS A OTRO COMPONENTE -->
            <app-profile-client></app-profile-client>
        </div>
        
    </div>

</body>

</html>