<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">
    <h1 style="text-align: center;">PELICULAS</h1>
    <div style="width: 100%;display: flex;justify-content: center;">
      <button [routerLink]="['/administrator',idParent,'nuevo-movies']" mat-raised-button color="primary" class="btnNuevo">Nuevo</button>
    </div>

    <div class="card-deck  container " style="margin-top:50px">

      <mat-card class="example-card card" *ngFor="let item of listaContenidos" data-aos="zoom-in">
       <!--  <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.titleContenido}}</mat-card-title> 
            <mat-card-subtitle>Dog Breed</mat-card-subtitle> 
        </mat-card-header> -->
        <img mat-card-image class="card-img-top" src="{{ item.urlImageContenido }}" alt="{{item.titleContenido}}">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions class="options">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
            [routerLink]="['/administrator',idParent,'ediciones-movies',item.idContenido]">
            <!--<mat-icon></mat-icon>-->
            <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
          </button>
          <button (click)="eliminar(item.idContenido)" mat-mini-fab color="warn"
            aria-label="Example icon button with a menu icon">
            <!--    <mat-icon></mat-icon> -->
            <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</body>

</html>