<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1>PELICULAS</h1>
        <div class="card-deck  container">
            <div class="card" *ngFor="let item of listaContenidos">
                <!--  <div class="card-header">
                {{ item.titleContenido }}
              </div> -->
                <div class="img">
                    <img class="card-img-top " src="{{ item.urlImageContenido }}" alt="{{ item.titleContenido }}">
                </div>
                <div class="options">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                        <!--                         <mat-icon></mat-icon>
 --> <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                    </button>
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                        <!--    <mat-icon></mat-icon> -->
                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                    </button>
                </div>
                <!-- <div class="card-body">
                <h5 class="card-title">Director: {{ item.directorContenido }}</h5>
                <p class="card-text">{{ item.descripContenido }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Año: {{ item.yearContenido }}</li>
                <li class="list-group-item">Género: {{ item.genderContenido }}</li>
                <li class="list-group-item">País de origen: {{ item.originCountryContenido }}</li>
                <li class="list-group-item">Idioma: {{ item.languageContenido }}</li>
              </ul>
              <div class="card-body">
                <a href="{{ item.urlContenido }}" class="card-link">Ver</a>
              </div> -->
            </div>
        </div>

    </div>

</body>

</html>