body {
    background-image: url("../../../../assets/images/fondo.jpg");
    background-size: 100% 100%;
}
.main{
    padding: 1px;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

h1 {
    font-size: 36px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Peso de la fuente */
    text-align: center;
    /* Alineación del texto */
    color: #2c3e50;
    /* Color del texto */
    margin-top: 30px;
    /* Margen superior */
    margin-bottom: 30px;
    /* Margen inferior */
    text-transform: uppercase;
    /* Transformación de texto a mayúsculas */
    letter-spacing: 2px;
    /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Sombra de texto */
}

.card-img-top {
    width: 256px;
    height: 380px;
}

.card {
    position: relative;
    cursor: pointer;
    transition: 0.3s all;

}

.card:hover {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.466);
}

.options {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.options button {
    transition: 0.3s all;
}

.options button:hover {
    transform: scale(1.2);
}