/* body {
    background-image: url("../../../../assets/images/fondo.jpg");
    background-size: 100% 100%;
} */
.main {
    padding: 1px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    font-family: 'Courier New', Courier, monospace;

}

.card-img-top {
    width: 256px;
    height: 380px;
}

.card {
    position: relative;
    cursor: pointer;
    transition: 0.3s all;

}

.card:hover {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.466);
}

.options {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.options button {
    transition: 0.3s all;
}

.options button:hover {
    transform: scale(1.2);
}

@media screen and (max-width:600px) {
    .swiper-slide .title {

        font-size: 3rem;
        line-height: 50px;
    }
}

@media screen and (max-width:600px) {
    .card-img-top {
        width: 150px;
        height: 200px;
    }
}