<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">


        <div class="contenido">
            <div class="contenido-info">
                <h2 class="movie-title">{{ movie.titleContenido }}</h2>
                <div class="movie-metadata">
                    <p><strong>Año:</strong> {{ movie.yearContenido | date }}</p>
                    <p><strong>Director:</strong> {{ movie.directorContenido }}</p>
                    <p><strong>Tipo:</strong> {{ movie.typeContenido }}</p>
                    <p><strong>Género:</strong> {{ movie.genderContenido }}</p>
                    <p><strong>País de origen:</strong> {{ movie.originCountryContenido }}</p>
                    <p><strong>Idioma:</strong> {{ movie.languageContenido }}</p>
                    <p style="text-align: justify;"><strong>Descripcion:</strong> {{ movie.descripContenido }}</p>
                </div>

            </div>
            <div class="contenido-image">
                <div style="float: right; clear: right;">
                    <img mat-card-image class="card-img-top" src="{{ movie.urlImageContenido }}"
                        alt="{{ movie.titleContenido }}">
                </div>
            </div>
        </div>
        <div class="video">
            <iframe  src="https://www.youtube.com/embed/rRAfUcV7KpA?si=lSu-RnEKkAzuC0k2"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </div>
        <!--  <img mat-card-image class="card-img-top" src="{{ movie.urlImageContenido }}" alt="{{movie.titleContenido}}"
            style="float:right;clear:right;">
        <h2>Detalles de la película</h2>
        <p>Título: {{ movie.titleContenido }}</p>
        <p>Descripción: {{ movie.descripContenido }}</p>
        <p>Año: {{ movie.yearContenido | date }}</p>
        <p>Director: {{ movie.directorContenido }}</p>
        <p>Tipo: {{ movie.typeContenido }}</p>
        <p>Género: {{ movie.genderContenido }}</p>
        <p>País de origen: {{ movie.originCountryContenido }}</p>
        <p>Idioma: {{ movie.languageContenido }}</p>
        <p>URL: {{ movie.urlContenido }}</p>
        <mat-card-actions class="options">
            <button mat-raised-button color="primary" onclick="reproducirPelicula()">Reproducir Película</button> -->
        <!-- <button  mat-fab color="warn" [routerLink]="['/client',idParent,'favoritos-lista',movie.idContenido]">
            <mat-icon> favorite</mat-icon>
            </button> -->
        <!--   </mat-card-actions>
        <iframe width="560" height="315" [src]="movie.urlContenido" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
 -->
    </div>

</body>

</html>