<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <mat-toolbar color="primary" class="menu">
        <button color="primary" class="img-user">
            <i class="fa-solid fa-user-tie"></i>
            <span>Administrator</span>
        </button>

        <div class="btnOptions">

            <!-- <button mat-flat-button class="btnMenu" color="primary" [routerLink]="['/administrator',id,'profile']">Mi
                Perfil</button>  -->
            <!-- sera asi porque empieza en el padre -->
            <button mat-flat-button class="btnMenu" color="primary" [routerLink]="['/components/administrator',id]">
                <i class="fa-regular fa-user" style="color: #ffffff;"></i>
                Mi Perfil</button>
            <button mat-flat-button class="btnMenu" color="primary"
                [routerLink]="['/components/administrator',id,'list-users']">
                <i class="fa-solid fa-list" style="color: #ffffff;"></i>
                Usuarios</button>
            <button mat-flat-button class="btnMenu" color="primary"
                [routerLink]="['/components/administrator',id,'supports']">
                <i class="fa-solid fa-screwdriver-wrench" style="color: #ffffff;"></i>
                Soporte</button>
            <button mat-flat-button class="btnMenu" color="primary"
                [routerLink]="['/components/administrator',id,'list-movies']">
                <i class="fa-solid fa-film" style="color: #ffffff;"></i>
                Peliculas</button>
            <button mat-flat-button class="btnMenu" color="primary"
                [routerLink]="['/components/administrator',id,'reports']">
                <i class="fa-solid fa-film" style="color: #ffffff;"></i>
                Reportes</button>
            <button mat-flat-button class="btnMenu cerrar" color="primary" routerLink="/login" (click)="cerrar()">
                <i class="fa-solid fa-right-from-bracket fa-rotate-180 " style="color: #ffffff;font-size: 25px;"></i>

            </button>
            <!-- DENTRO DE LA RUTA DE ADMINISTRADORES USAMOS EL   administrator/:id -->

            <!-- <button mat-flat-button class="btnMenu" color="primary" routerLink="/administrator/profile">Mi
                Perfil</button>
            <button mat-flat-button class="btnMenu" color="primary"
                routerLink="/administrator/list-users">Usuarios</button>
            <button mat-flat-button class="btnMenu" color="primary"
                routerLink="/administrator/supports">Soporte</button>
            <button mat-flat-button class="btnMenu" color="primary"
                routerLink="/administrator/list-movies">Peliculas</button>
            <button mat-flat-button class="btnMenu cerrar" color="primary" routerLink="/login">
                <i class="fa-solid fa-right-from-bracket fa-rotate-180 " style="color: #ffffff;font-size: 30px;"></i>
            </button> -->

        </div>
    </mat-toolbar>

    <div class="contenido">
        <!-- DENTRO DE ESTO APARECEN TODOS LOS COMPONENTES  -->
        <router-outlet></router-outlet>
        <div [hidden]="route.children.length!==0">
            <!-- SE ELIMINA TODO LO DE AQUI CUANDO VAMOS A OTRO COMPONENTE -->
            <app-profile-administrator></app-profile-administrator>

            <!--  <app-list-users-administrator></app-list-users-administrator>
 -->
        </div>
    </div>


</body>

</html>