 .dashboard-container {
     /*     display: flex;*/
     width: 100%;
 }

 .menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 150px;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     /*   padding: 10px 15px; */
     padding: 20px 0;
 }

 .menuReportes {
     display: flex;
     flex-direction: column;
 }

 .menuReportes button {
     border: none;
     background-color: transparent;
     color: whitesmoke;
     font-weight: 500;
     padding: 10px 0 !important;
     transition: 0.2s all;
 }
 .menuReportes button:hover {
  transform: scale(1.1);
 }

 mat-panel-title {
     display: flex;
     gap: 5px;
     font-size: 15px;
 }



 .cerrar {
     position: absolute;
     bottom: 0;
 }

 .img-user {
     width: 100%;
     background-color: transparent;
     border: none;
     margin-top: 20px;
     border-bottom: 2px solid whitesmoke;
     padding-bottom: 5px;
     padding-top: 10px;
     outline: none;
     transition: 0.2s all;
 }

 .img-user i {
     font-size: 50px;
     color: whitesmoke;
 }

 .img-user:hover {
     background-color: #5264ce;
 }

 .img-user span {
     display: block;
     color: whitesmoke;
     font-size: 15px;
 }

 .btnOptions {
     margin-top: 30px;
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .btnOptions button {
     width: 100%;
     padding: 25px 0;
 }
 .mdc-button__label{
    display: flex !important;
    flex-direction: column !important;
 }

 /*   CONTENIDO */
 .contenido {
     margin-left: 150px;
     /*  padding: 1px; */
 }