.form{
    position: relative;
    margin-top: 50px;
}

.form>h1{
    font-size: 40px;
    margin: 40px ;
    font-family: 'Courier New', Courier, monospace;

}

.example-form{
    display: grid;
    place-content: center;
    width: 40%;
}

textarea{
    resize: none;
}
.example-full-width{
    width: 400px;
}
.content{
    display: flex;
}
.img-tom{
margin-right: 50px;
}/*  */