.caja {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.form {
    width: 40%;
    height: 500px;
    /* margin-top: 20px;
    margin-left: 20px; */
    padding-top: 20px;
    margin: auto;
}

.img-user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #3F51B5;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 30px;
}

.title-user {
    text-align: center;
    font-size: 30px;
}

.table-form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.btnRegistrar {
    display: block;
    margin: 0 auto;
}

.btnRegistrar span {
    font-weight: bold;
    color: #3F51B5;
}

.form-img {
    width: 50%;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b57c;
    /*     clip-path: circle(60.4% at 87% 49%);
 */
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    z-index: 1;

}

.form-img .banner {
    width: 100%;
    height: 100%;
    /*     clip-path: circle(60.4% at 87% 49%);
 */
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.form-img .logo {
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 111;
    /*     filter: drop-shadow(1px 1px 2px white);
 */
    object-fit: contain;
}

.form-img .btnBefore {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
    color: whitesmoke;
    border: none;
    background-color: transparent;
    z-index: 500;
}

.form-img .btnBefore i {
    font-size: 40px;
    color: whitesmoke;
    transition: 0.3s all;
}
.form-img .btnBefore i:hover {
    font-size: 50px;
    color: whitesmoke;
}