<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1 style="text-align: center; font-weight: bold;">USUARIOS</h1>
        <div class="table-administrators container">
            <h1 style="text-align: left;">Administradores</h1>
            <app-table-admin></app-table-admin>
        </div>
        <div class="table-clients container">
            <h1 style="text-align: left;">Clientes</h1>
            <app-table-client></app-table-client>

        </div>
    </div>

</body>

</html>